<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>タイトル</h1>
    <p><%= @mail.title %></p>
    <h1>本文</h1>
    <p><%= @mail.content %></p>
  </body>
</html>